.page-breadcrumbs{
	padding: 25px 0 50px;
}

.page-breadcrumbs ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 30px;
	position: relative;
	font-size: 12px;
	line-height: 1;
}
.page-breadcrumbs ul li:first-child{
	padding-left: 0;
}
.page-breadcrumbs ul li:not(:last-child):after{
	content: "";
	background: url(../images/breadcrumbs-arrow-icon.svg);
	width: 10px;
	height: 10px;
	background-size: 100% auto;
	position: absolute;
	right: -4px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	
}
.page-breadcrumbs ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #717171;
}
.page-breadcrumbs ul li a:hover{
	color: #A61916;
}
.page-breadcrumbs ul li a.fl-home-icon,
.page-breadcrumbs ul li:first-child a{
	padding-left: 30px;
	position: relative;
	color: #A61916;
}
.page-breadcrumbs ul li a.fl-home-icon:before,
.page-breadcrumbs ul li:first-child a:before{
	content: "";
	background: url(../images/fl-home-icon.svg);
	width: 20px;
	height: 20px;
	background-size: 100% auto;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
/*end of beadcrumbs*/



.innerpage-con-wrap{
	overflow: hidden;
	position: relative;
}

.default-page-con {
	padding-top: 15px;
	padding-bottom: 85px;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dft-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 25px;
	line-height: 1.1;
	text-transform: uppercase;
}

.dft-promo-module-title{
	color: #111111;
}
.default-page-con hr{
	margin-top: 55px;
	margin-bottom: 55px;
	border-top: 2px solid #F4F4F4;
}

.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	padding-bottom: 25px;
	line-height: 24px;
}
.default-page-con ul li,
ul li {
	padding: 10px 0 10px 22px;
	position: relative;
	line-height: 24px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 17px;
	width: 7px;
	height: 8px;
	background: #A61916;
	border-radius: 100% 100%;
}
.default-page-con ol, ol {
	padding: 10px 0 0 15px;
	line-height: 24px;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 25px;
	line-height: 24px;
	padding-left: 30px;
	position: relative;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #A61916;;
	font-weight: 800;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	padding: 0 5.5px;
	position: absolute;
	left: 0;
	top: 5px;
}
.default-page-con p {
    margin-bottom: 27px;
}

.dft-promo-module{
	padding-bottom: 30px;
}
.dft-promo-module-title{
	font-weight: 800;
	display: block;
	margin-bottom: 40px;
}
.dft-plate-one-img-bx img{
	width: 100%;
}



.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 30px;
}
.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	float: left;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-top: 0;
	padding-bottom: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-testi-controller{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}


.fl-dft-lftimg-rgtdes-lft i{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.fl-dft-lftimg-rgtdes-lft span{
	position: absolute;
	right: 15px;
	bottom: 15px;
}

/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 10px;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 25px;
}



.dft-2grd-img-con-item{
	position: relative;
}



/*
Gallery design
*/

.gallery-wrap{
	padding-top: 13px;
	padding-bottom: 25px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}


.dft-blockquote-cntlr{
	border: 4px solid #A61916;
	padding: 50px 85px 40px 70px;
	margin-bottom: 30px;
}
.dft-blockquote{
	position: relative;
	padding-left: 75px;

}
.dft-blockquote i{
	position: absolute;
	left: 0;
	top: 0;
}
.dft-blockquote blockquote{
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	color: #A61916;
}

/*extra*/
.newsletter-form{
	background: #252525;
	color: #fff;
	text-align: center;
	padding: 40px 0;
	margin-bottom: 28px;
}
.newsletter-form-hdr h6, .nfh-title{
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	margin: 0 0 15px 0;
}
.newsletter-form-hdr p{
	font-size: 12px;
	line-height: 1;
	margin-bottom: 17px;
}

a.dft-btn,
.dft-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 185px;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	line-height: 1;
	background: #A61916;
	border: 2px solid #A61916;
	min-height: 45px;
	padding: 17px 10px;

}
a.dft-btn:hover,
.dft-btn:hover{
	background: transparent;
	color: #A61916;
}
@media(max-width: 1199px){
	.dft-promo-module-title{
		margin-bottom: 35px;
	}
}


@media(max-width: 991px){
	.dft-img-title-grd-col h4{
		font-size: 20px;
		line-height: 24px;
	}
	.page-breadcrumbs {
	    padding: 20px 0 40px;
	}
	.dft-promo-module-title {
	    margin-bottom: 30px;
	}
	.dft-blockquote-cntlr {
	    padding: 40px 45px 30px 50px;
	}
}
@media(max-width: 890px){

}

@media(max-width: 767px){
	.dft-promo-module > strong{
		font-size: 24px;
		line-height: 30px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt {
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    height: 375px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 0;
	}
	.default-page-con .dft-grd-col-list-item ul {
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-top: 30px;
	}
	.dft-img-title-grd-col{
		width: 100%;
		float: none;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-bottom: 0;
	}

	.page-breadcrumbs-sec{
		display: none;
	}
	.default-page-con{
		padding-top: 40px;
	}
	.dft-promo-module-title {
	    margin-bottom: 27px;
	}
	
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.gallery {
	    margin-left: -5px;
	    margin-right: -5px;
	    padding-bottom: 5px;
	}
	.gallery-item {
	    padding: 0 5px;
	    margin-bottom: 10px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 14px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 240px;
	}
	
	.dft-2grd-img-con-item-des h4{
		margin-bottom: 15px;
	}
	.default-page-con p {
	    margin-bottom: 20px;
	}
	.default-page-con ul, ul{
		padding-bottom: 15px;
	}
	.default-page-con ul li, ul li {
	    padding: 2px 0 14px 18px;
	    line-height: 22px;
	}
	.default-page-con h1, .default-page-con h2, .default-page-con h3, .default-page-con h4, .default-page-con h5 {
	    margin-bottom: 20px;
	}
	.fl-dft-lftimg-rgtdes-lft i svg{
		width: 50px!important;
		height: 50px!important;
	}
	.fl-dft-lftimg-rgtdes-lft span svg{
		width: 30px!important;
		height: 31px!important;
	}
	.fl-dft-lftimg-rgtdes-lft{
		height: 280px;
	}
	.fl-dft-lftimg-rgtdes-rgt,
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 0;
	}
	.default-page-con ol li, ol li{
		padding-bottom: 20px;
	}
	.default-page-con ul li::before, ul li::before{
		top: 8px;
	}
	.gallery-wrap{
		padding-bottom: 20px;
	}
}


@media(max-width: 479px){
	
}



@media(max-width: 359px){

}

