.page-breadcrumbs{
	padding: 25px 0 50px;
}

.page-breadcrumbs ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 30px;
	position: relative;
	font-size: 12px;
	line-height: 1;
}
.page-breadcrumbs ul li:first-child{
	padding-left: 0;
}
.page-breadcrumbs ul li:not(:last-child):after{
	content: "";
	background: url(../images/breadcrumbs-arrow-icon.svg);
	width: 10px;
	height: 10px;
	background-size: 100% auto;
	position: absolute;
	right: -4px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	
}
.page-breadcrumbs ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #717171;
}
.page-breadcrumbs ul li a:hover{
	color: #A61916;
}
.page-breadcrumbs ul li a.fl-home-icon,
.page-breadcrumbs ul li:first-child a{
	padding-left: 30px;
	position: relative;
	color: #A61916;
}
.page-breadcrumbs ul li a.fl-home-icon:before,
.page-breadcrumbs ul li:first-child a:before{
	content: "";
	background: url(../images/fl-home-icon.svg);
	width: 20px;
	height: 20px;
	background-size: 100% auto;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
/*end of beadcrumbs*/



.innerpage-con-wrap{
	overflow: hidden;
	position: relative;
	border-bottom: 8px solid #F9F9F9;
}

.default-page-con {
	padding-top: 85px;
	padding-bottom: 120px;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 25px;
	line-height: 1.1;
	text-transform: uppercase;
}
.default-page-con h2{
	padding-top: 20px;
	padding-right: 20px;
}
.dfp-promo-module-title{
	color: #111111;
}
.default-page-con hr{
	margin-top: 55px;
	margin-bottom: 55px;
	border-top: 2px solid #F4F4F4;
}

.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 35px;
	padding-bottom: 0;
	line-height: 24px;
	font-weight: 600;
}
.default-page-con ul li,
ul li {
	padding: 10px 0 25px 40px;
	position: relative;
	line-height: 24px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 13px;
	background: url(../images/list-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 26px;
	height: 18px;
}
ul li.refGridItem:before{
	display: none;
}
.default-page-con ol, ol {
	padding: 10px 0 0 30px;
	line-height: 24px;
	font-weight: 600;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 27px;
	line-height: 24px;
	padding-left: 30px;
	position: relative;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #F6C042;
	font-weight: 800;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	padding: 0 5.5px;
	position: absolute;
	left: 0;
	top: 5px;
}
.default-page-con p {
    margin-bottom: 30px;
}

.dfp-promo-module{
	padding-bottom: 30px;
}
#nieuws-details-page-cntlr .dfp-promo-module{
	padding-bottom: 25px;
}
.dfp-promo-module-title{
	font-weight: 800;
	display: block;
	margin-bottom: 20px;
	font-size: 60px;
}
.dftPromoModuleSlider{
	margin-bottom: 0!important;
	padding-bottom: 20px;
}

.dfp-plate-one-img-bx img{
	width: 100%;
}



.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 30px;
}
.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	float: left;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-top: 0;
	padding-bottom: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-testi-controller{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}


.fl-dft-lftimg-rgtdes-lft i{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.fl-dft-lftimg-rgtdes-lft span{
	position: absolute;
	right: 15px;
	bottom: 15px;
}

/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 10px;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 25px;
}



.dft-2grd-img-con-item{
	position: relative;
}



/*
Gallery design
*/

.gallery-wrap{
	padding-top: 13px;
	padding-bottom: 25px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}




/*table*/

.dfp-tbl-wrap{
	padding-top: 10px;
}

.table-dsc{
	padding: 0;
	background-color: #fff;
	border-top: none;
}
.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
	line-height: 1;
	text-align: center;
	color:  #111111;
	font-weight: 600;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding: 20px 10px;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td:first-child{
	font-weight: 800;
	text-transform: uppercase;
}
.table-dsc table thead tr th:first-child,
.table-dsc table tbody tr td:first-child{
	font-size: 14px; 
	text-align: left;
	padding-left: 30px;

}
.table-dsc table thead tr th,
.table-dsc table tbody tr:nth-child(2n+2) td,
.table-dsc table tbody tr td:nth-child(2n+2){
	background: #f9f9f9;
}




.cln-rv-grid-item-img-ctlr,
.hm-nieuws-sec-grd-item-fea-img-cntlr{
	position: relative;
}
/*extra*/
.dft-fanshop-items .sp-fanshop-gallery-wrp ul li{
	width: 50%;
	padding-bottom: 30px;
}
.dft-fanshop-items .sp-fanshop-gallery-wrp ul li .sp-fanshop-gallery-dsc{
	max-width: 310px;
}
.dft-fanshop-items .sp-fanshop-gallery-wrp ul{
	padding: 0;
}
.dft-clint-logos{
	padding: 53px 0 30px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 40px;
	margin-top: 5px;
}
.dft-clint-logos ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0;
}
.dft-clint-logos ul li{
	width: 25%;
	padding: 0 10px 30px!important;
}
.dftNewsOverviewSlider{
	padding: 0;
	margin: 0 -12px!important;
}
.dft-clint-logos ul li div{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dftNewsOverviewSlideItem{
	padding: 0 12px 24px;
}
.dft-news-overview-grds{
	padding-bottom: 25px;
}
.dft-news-overview-grds .eena-gid-title{
	text-transform: initial;
}

.post-date{
    font-size: 14px;
    color: #F6C042;
    text-transform: uppercase;
    padding-left: 32px;
    padding-bottom: 12px;
    display: block;
    font-weight: 700;
    position: relative;
}
.post-date:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 18px;
    width: 26px;
    background: url(../images/eena-grd-item-yellow-icon.svg);
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center center!important;
}
.default-page-con .social-media{
	padding-top: 10px;
	padding-bottom: 45px;
	display: flex;
	align-items: center;
}
.default-page-con .social-media ul{
	padding-left: 0;
}
.default-page-con .social-media ul li{
	padding-bottom: 0;
	padding-top: 0;
}
.prv-nxt-page-btns{
	padding: 70px 0 0;
	display: flex;
	align-items: center;
	border-top: 1px solid #e2e2e2;
}
.prv-nxt-page-btns a{
	font-size: 14px;
	line-height: 1;
	color: #111111;
	text-transform: uppercase;
	font-weight: 700;
}
.prv-page-btn span{
	padding-left: 14px;
}
.nxt-page-btn span{
	padding-right: 14px;
}
.nxt-page-btn{
	margin-left: auto;
}
.innerpage-con-wrap .list-module ul{
	margin: 0;
	padding: 0;
	background: #F9F9F9;
}
.innerpage-con-wrap .list-module ul li{
	margin: 0;
	padding: 0;
}
.list-module ul li div{
	display: flex;
	align-items: center;
	padding: 20px 20px 20px 30px;
}
.list-module ul li div strong{
	width: 30%;
	text-transform: uppercase;
	padding-right: 20px;
	font-weight: 800;
	color: #111111;
}
.list-module ul li div span{
	width: 70%;
}
.list-module ul li:nth-child(2n+2) div{
	background: #fff;
}
.list-module{
	padding-bottom: 110px;
}
.dft-back-in-time-sec .hm-back-in-time-sec-des{
	min-height: 370px;
}
.dft-back-in-time-sec .black-anlge-lft{
	width: 142px;
	left: -141px;
}
.dft-back-in-time-sec{
	padding-bottom: 55px;
}
.dft-back-in-time-sec .hm-back-in-time-sec-des{
	padding: 60px 85px 55px 35px;
}
.dft-back-in-time-sec .hm-back-in-time-sec-des strong{
	margin-bottom: 30px;
}
.dft-versus-match-cntlr .versus-match-cntlr{
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
	padding-left: 45px;
	padding-right: 45px;
}
.dft-versus-match-cntlr{
	padding-bottom: 30px;
}
.dft-versus-match-cntlr .versus-logo{
	background: url(../images/vs-icon.png);
	max-width: 190px;
	height: 103px;
}
.dft-versus-match-cntlr .versus-logo .versus-play-time span{
	font-size: 14px;
}
.dft-clint-logos-module-title{
	font-size: 25px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
	display: none;
}
@media(max-width: 1199px){
	.default-page-con h2{
		padding-right: 0;
	}
}


@media(max-width: 991px){
	
	.dft-img-title-grd-col h4{
		font-size: 20px;
		line-height: 24px;
	}
	.dft-back-in-time-sec .hm-back-in-time-sec-des{
		padding-right: 30px;
	}
	.hm-back-in-time-sec-des{
		padding-top: 20px;
	}
	.list-module {
	    padding-bottom: 80px;
	}
}
@media(max-width: 890px){
	.table-dsc {
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.table-dsc table {
	    width: 850px;
	}
}

@media(max-width: 767px){
	.dfp-promo-module > strong{
		font-size: 24px;
		line-height: 30px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt {
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    height: 375px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 0;
	}
	.default-page-con .dft-grd-col-list-item ul {
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-top: 30px;
	}
	.dft-img-title-grd-col{
		width: 100%;
		float: none;
	}
	.dfp-tbl-wrap{
		margin-bottom: 0;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-bottom: 0;
	}
	.dft-map{
		margin-top: 45px;
		margin-bottom: 65px;
	}
	.default-page-con{
		padding-bottom: 70px;
	}
	.default-page-con .sp-fanshop-gallery-img{
		height: 380px!important;
	}
	.dft-versus-match-cntlr .versus-match-cntlr{
		padding-left: 20px;
		padding-right: 20px;
	}
	.dft-clint-logos ul li{
		width: 33.3333%;
	}
	.dft-clint-logos-module-title{
		display: block;
	}
	.dftNewsOverviewSlider{
		margin-left: -20px;
		margin-right: -20px;
	}
	.dftNewsOverviewSlideItem{
		padding-left: 15px;
		padding-right: 15px;
	}
	.dftNewsOverviewSlider .slick-next{
		right: 15px;
	}
	.dftNewsOverviewSlider .slick-prev{
		left: 15px;
	}
	.dftNewsOverviewSlideItem{
		padding-bottom: 40px;
	}
	.dft-news-overview-grds{
		padding-bottom: 45px;
	}
	.list-module-cntlr{
		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.list-module-cntlr ul{
		width: 700px;
	}
	.list-module-cntlr,
	.dfp-tbl-wrap{
		margin-left: -20px;
		margin-right: -20px;
	}
	.list-module {
	    padding-bottom: 70px;
	}
	.hm-back-in-time-sec-des{
		padding: 20px 20px 40px!important;
		min-height: auto!important;
	}
	.dft-back-in-time-sec{
		padding-bottom: 40px;
	}
	.dft-versus-match-cntlr .versus-logo {
        max-width: 110px;
		height: 53px;
	}
}



@media(max-width: 639px){
	.dft-fanshop-items .sp-fanshop-gallery-wrp ul li{
		width: 100%;
	}
	.default-page-con .sp-fanshop-gallery-img {
	    height: 350px!important;
	}
	.default-page-con{
		padding-top: 35px;
	}
}



@media(max-width: 575px){
	.gallery {
	    margin-left: -5px;
	    margin-right: -5px;
	    padding-bottom: 5px;
	}
	.gallery-item {
	    padding: 0 5px;
	    margin-bottom: 10px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 0;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 240px;
	}
	
	.dft-2grd-img-con-item-des h4{
		margin-bottom: 15px;
	}
	.default-page-con p {
	    margin-bottom: 20px;
	}
	.default-page-con ul li::before, ul li::before {
	    width: 20px;
	    height: 20px;
	}
	.default-page-con ul li, ul li {
	    padding: 2px 0 14px 35px;
	    line-height: 22px;
	}
	.default-page-con h1, .default-page-con h2, .default-page-con h3, .default-page-con h4, .default-page-con h5 {
	    margin-bottom: 20px;
	}
	.fl-dft-lftimg-rgtdes-lft i svg{
		width: 50px!important;
		height: 50px!important;
	}
	.fl-dft-lftimg-rgtdes-lft span svg{
		width: 30px!important;
		height: 31px!important;
	}
	.dft-star-sec-grd-cntlr .star-section-grds{
		padding-bottom: 45px;
	}
	.dft-star-sec-grd-cntlr .star-sec-grd-col{
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.dft-services-item-module .hm-services-item{
		padding-left: 20px;
		padding-right: 20px;
	}
	.default-page-con{
		padding-bottom: 60px;
	}
	.fl-dft-lftimg-rgtdes-lft{
		height: 280px;
	}
	.fl-dft-lftimg-rgtdes-rgt,
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 0;
	}
	.default-page-con ol li, ol li{
		padding-bottom: 20px;
	}
	.dft-clint-logos{
		margin-bottom: 35px;
	}
	.list-module {
	    padding-bottom: 60px;
	}
	.prv-nxt-page-btns{
		padding-top: 50px;
	}
	.dft-versus-match-cntlr .versus-logo {
	    max-width: 80px;
	    height: 44px;
	}
}


@media(max-width: 479px){
	.dft-clint-logos-module-title{
		font-size: 20px;
	}
	.dft-clint-logos ul li {
	    width: 50%;
	}
	.prv-page-btn span {
	    padding-left: 0px;
	}
	.nxt-page-btn span{
		padding-right: 0;
	}
	.prv-nxt-page-btns a{
		font-size: 12px;
	}
	.prv-nxt-page-btns a i svg{
		width: 22px!important;
		height: auto!important;
	}
	.dft-versus-match-cntlr .versus-logo {
	    max-width: 58px;
	    height: 32px;
	}
}



@media(max-width: 359px){

}

