.header-tp{
	padding: 40px 0;
}
.hdr-tp-lft{
	width: 28%;
	float: left;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
}
.hdr-tp-rgt{
	width: 72%;
	float: right;
	padding: 15px 0 0;
}

/*
-------------------
 Header Css
-------------------
*/
nav.main-nav{
	padding: 15px 0 0;
	float: right;
}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	text-transform: uppercase;
	padding: 0 28px;
	font-size: 16px;
	line-height: 18px;
	position: relative;
}
nav.main-nav > ul > li > a{
	font-weight: 700;
	color: #1E1E1E;
	padding-bottom: 30px;
}

nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 48px;
	left: 0;
	min-width: 205px;
	padding: 5px 0 0 0;
	background: #fff;
	border-top: 2px solid #A61916;
	z-index: 30;
	box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav  ul.sub-menu li{
	padding: 0 0 0 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
nav.main-nav ul.sub-menu li a{
	color: #1E1E1E;
	font-size: 14px;
	display: block;
	padding: 10px 27px;
	position: relative;
	font-weight: 700;
}

nav.main-nav ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #A61916;;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:hover:after{
    height: 100%;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a {
    color: #A61916;;
}

.hdr-tp-icons-cntlr{
	float: right;
	padding-top: 5px;
	padding-left: 20px;
}
.hdr-sign-up{
	float: left;
}
.hdr-sign-up a{
	display: flex;
	justify-content:center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	width: 40px;
	height: 40px;
	border:3px solid#1e1e1e;
	border-radius: 50px;
}
.hdr-sign-up a:hover{
	border-color: #A61916;
}
.hdr-sign-up a:hover i svg{
	fill: #A61916;
}
.hdr-sign-up a i{
	margin-top: -2px;
}
.hdr-tp-cart-btn{
	float: right;
	padding-left: 25px;
}
.hdr-tp-cart-btn a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	width: 40px;
	height: 40px;
	background: #A61916;
	border: 3px solid #A61916;
	border-radius: 50px;
	position: relative;
}
.hdr-tp-cart-btn a span {
    display: inline-block;
    vertical-align: baseline;
    width: 19px;
    height: 19px;
    background: #1E1E1E;
    border-radius: 100%;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 3px 2px 3px;
    text-align: center;
    text-transform: uppercase;
}
.hdr-tp-cart-btn a:hover{
	background: transparent;
	border-color: #A61916;
}
.hdr-tp-cart-btn a:hover i svg{
	fill: #A61916;
}

/*
--------------------
 Header Btm Css
--------------------
*/
.header-btm{
	padding: 20px 0;
	background: #1E1E1E;
}
.hdr-btm-service-innr{
	padding-left: 10px;
}
.hdr-btm-service-wrp ul{
	margin: 0 -20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-btm-service-wrp ul li{
	float: left;
	width: 25%;
	padding: 0 20px;
}
.hdr-btm-service-item{
    display: flex;
    justify-content: left;
    align-items: center;
}
.hdr-btm-service-item span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 500;
	padding-left: 15px;
}
.hdr-btm-service-item i{
	display: inline-block;
	vertical-align: baseline;
}

/*
-----------------------
 Header Responsive Css
-----------------------
*/
@media(max-width: 1499px){
	nav.main-nav > ul > li{
		padding: 0 25px;
	}
	nav.main-nav ul.sub-menu li a{
		padding: 10px 25px;
	}
}

@media(max-width: 1399px){
	nav.main-nav > ul > li{
		padding: 0 18px;
	}
	nav.main-nav ul.sub-menu li a{
		padding: 10px 20px;
	}
}

@media(max-width: 1299px){
	
}

@media(max-width: 1199px){
	.hdr-btm-service-innr {
	    padding-left: 0;
	}
	nav.main-nav > ul > li {
	    padding: 0 8px;
	    font-size: 14px;
	    line-height: 16px;
	}
	.hdr-tp-icons-cntlr {
	    padding-left: 15px;
	}
	.hdr-tp-cart-btn {
	    padding-left: 15px;
	}
	.hdr-sign-up a,
	.hdr-tp-cart-btn a {
	    width: 35px;
	    height: 35px;
	}
	.hdr-tp-cart-btn a span{
		top:-10px;
		right: -10px;
	}
	nav.main-nav > ul > li > a {
	    padding-bottom: 25px;
	}
	nav.main-nav {
	    padding: 10px 0 0;
	}
	nav.main-nav ul.sub-menu li a {
	    font-size: 12px;
	    padding: 10px 14px;
	}
	.hdr-btm-service-wrp ul{
		margin: 0 -10px;
	}
	.hdr-btm-service-wrp ul li {
	    padding: 0 10px;
	}
	.hdr-btm-service-item span{
		font-size: 15px;
		line-height: 17px;
	}


}

@media(max-width: 991px){
	body.active-scroll-off {
	    overflow: hidden;
	}
	.header-tp-inr{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header-tp {
	    padding: 30px 0;
	}
	.hdr-tp-rgt{
		padding: 0;
		width: 60%;
	}
	.hdr-tp-lft {
	    width: 40%;
	    position: relative;
	}
	.logo a {
	    max-width: 190px;
	    width: 100%;
	}
	.bdoverlay{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,0.8);
		opacity: 0;
		z-index: -1;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.bdoverlay.active{
		opacity: 1;
		z-index: 1;
	}
	.xs-menu-bar-humberger{
		float: right;
		text-align: center;
	}
	.xs-menu-bar-humberger strong,
	.xs-menu-bar-inr strong{
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: baseline;
		font-size: 11px;
		line-height: 13px;
		color: #1E1E1E;
		padding-top: 3px;
	}
	.xs-menu-bar-humberger span,
	.xs-menu-bar-inr span{
		display: block;
		text-align: center;

	} 
	.xs-humbergur-btn{
		padding-top: 0;
	}
	.hdr-tp-rgt .xs-humbergur-btn {
	    padding-top: 4px;
	    position: relative;
	    z-index: 61;
	}
	.xs-pop-up-menu{
		position: fixed;
		top: 0;
		right: -375px;
		bottom: 0;
		max-width: 375px;
		background: #fff;
		color: #fff;
		z-index: 60;
		display: block;
		opacity: 0;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.xs-pop-up-menu.opacity-1{
		opacity: 1;
		width: 100%;
		right: 0;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		z-index: 62;
	}
	.xs-pop-up-menu-top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
	.xs-pop-up-menu-top .logo-close-btn-cntlr{
		padding: 30px 34px 27px 34px;
		position: relative;
	}
	.xs-pop-up-menu-inr {
	    padding: 188px 0 50px;
	    height: 100%;
	    width: 100%;
	}
	.xs-logo  a{
		display: inline-block;
		max-width: 177px;
	}
	.xs-pop-up-menu .xs-menu-bar {
	    position: absolute;
	    right: 15px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.xs-search{
		background: #F7F7F7;
	}
	.xs-search .search-cntlr{
		padding: 20px 32px;
	}
	.xs-search .search-cntlr .bnr-search input{
		padding: 10px 20px;
	}
	.xs-search .search-cntlr .bnr-search button{
		right: 13px;
	}
	.xs-search .search-cntlr .bnr-search button i svg{
		max-width: 14px;
	}
	.xs-hdr-sign-up{
		padding-left: 0;
		max-width:310px;
		width: 100%;
		margin: 0 auto;
	}
	.xs-hdr-sign-up a{
		display: block;
		background: #1E1E1E;
		padding: 15px 15px 13px;
	}
	.xs-hdr-sign-up a:last-child{
		background:#A61916;
		margin-top: 20px;
	}
	.xs-hdr-sign-up a:hover{
		background:#A61916;
	}
	.xs-hdr-sign-up a:last-child:hover{
		background:#1E1E1E;
	}
	.xs-hdr-sign-up a i{
		position: relative;
		top: -2px;
	}
	.xs-hdr-sign-up a:first-child strong{
		padding-top: 1px;
	}
	.xs-hdr-sign-up a:first-child i{
		top: -4px;
	}
	.xs-hdr-sign-up a strong{
		color: #fff;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
		vertical-align: baseline;
		padding-left: 5px;
	}
	.xs-social {
	    padding-top: 35px;
	    padding-bottom: 55px;
	}
	.xs-main-nav > ul > li{
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.xs-main-nav ul li a{
		color: #1E1E1E;
		font-weight: 700;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
		position: relative;
	}
	.sub-menu{
		padding: 20px 0;
		display: none;
	}
	.xs-pop-menu-con{
		overflow-y: auto;
		height: 100%;
		width: 100%;
		padding: 0 34px;
		padding-top: 52px;
		text-align: center;
		z-index: 10;
	}
	.xs-main-nav .sub-menu li{
		padding-top: 5px;
	}
	.xs-main-nav .sub-menu {
	    padding-bottom: 0;
	    padding-top: 25px;
	}
	.xs-main-nav .sub-menu li a {
	    font-size: 14px;
	}
	.xs-main-nav > ul > li.menu-item-has-children > a:after{
		content: "\f107"!important;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 600;
	    text-decoration: inherit;
	    color: #000;
	    font-size: 14px;
	    position: absolute;
	    top: 0;
	    right: -18px;
	}
	.xs-main-nav > ul > li.menu-item-has-children > a.xs-sub-menu-expend:after{
		content: "\f106"!important;
	}
	.xs-main-nav ul li.current-menu-item a{
		color: #A61916;
	}
	.hdr-social ul li{
		display: inline-block;
		vertical-align: baseline;
		padding: 0 12px;
	}
	.hdr-btm-service-wrp ul li{
	    width: 50%;
	    padding-bottom: 15px;
	}
	.header-btm{
		padding-bottom: 5px;
	}
	.opacity-1 .xs-main-nav{
		position: relative;
		z-index: 70;
	}


	
}

@media(max-width: 767px){
	.xs-pop-up-menu .xs-menu-bar {
	    right: 20px;
	}
}

@media(max-width: 575px){
	.xs-humbergur-btn {
	    padding-top: 0;
	}
	.xs-pop-up-menu-inr {
	    padding: 215px 20px 50px;
	}


}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}

