
.fl-btn{
	max-width: 269px;
	width: 100%;
	padding: 28px 5px 24px 5px;
	text-align: center;
	margin-bottom: 0;
	line-height: 1;
	border: 2px solid #A61916;
	color: #fff;
	background: #A61916;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 auto;
	display: inline-block;
}
.bnr-btn .fl-btn:hover{
	color: #A61916;
	border-color: #fff;
	background: #fff;
}




.spotlight-sec{
	padding-top: 90px;
	padding-bottom: 76px;
	
}
.spotlight-inr{

}
.sec-entry-hdr{
	text-align: center;
}
.sec-entry-hdr-title{
	color: #1E1E1E;
	font-size: 36px;
	margin-bottom: 22px;
}
.sec-entry-hdr p{
	margin-bottom: 30px;
}
.spotlight-slider-cntlr{
	padding: 0 105px;
}
.spotlight-slider-cntlr .spotlight-silder .slick-prev{
	margin-left: -65px;
}
.spotlight-slider-cntlr .spotlight-silder .slick-next{
	margin-right: -65px;
}

.spotlight-silder{
	margin: 0 -12px;
}
.spotlight-silder > div{
	display: none;
}
.spotlight-silder > div:nth-child(1){
	display: block;
}
.spotlight-silder.slick-initialized.slick-slider > div{
	display: block;
}
.pro-item-cntlr{
	padding: 0 12px;
	margin-bottom: 24px;

}
.pro-item{
	background: #F6F6F6;
	padding-bottom: 28px;
}
.pro-item:hover .pro-item-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.pro-item-img-cntlr{
	height: 320px;
	overflow: hidden;
	position: relative;
	margin-bottom: 25px;
}
.pro-item-img{
	height: 100%;
	width: 100%;
}
.pro-item-desc{
	
	padding-left: 38px;
	padding-right: 38px;
}

.pro-item-desc-title{
	color: #1E1E1E;
	font-size: 30px;
	margin-bottom: 13px;
}
.pro-item-desc-title a{
	display: inline-block;
	color: #1E1E1E;
}
.pro-item-desc-title a:hover{
	color: #A61916;
}
.pro-item-desc-sub-title{
	color: #A61916;
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 400;
	text-transform: initial;
}
.product-price{
	margin-bottom: 18px;
}
.product-price .amount bdi{
	font-weight: 700;
	text-transform: uppercase;
	color: #373A3C;
	font-size: 20px;
	display: inline-block;
}
.product-price .amount bdi span.woocommerce-Price-currencySymbol{
	margin-right: 2px;
}
.pro-item-desc strong{
	font-weight: 400;
	text-transform: initial;
	color: #717171;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 7px;
	line-height: 1;
}
.product-quantity{
	display: flex;
	align-items: center;
}
.quantity{
	max-width: 150px;
	background: #fff;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.quantity input{
	max-width: 58px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #1E1E1E;
	padding: 10.5px 0;
}
.quantity input:focus{

}
.quantity input[type=number]::-webkit-inner-spin-button, 
.quantity input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  -moz-appearance: textfield;
}
.quantity input[type="number"] {
   -moz-appearance: textfield;
}

.quantity .minus{
	width: 42px;
	height: 40px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	color: #1E1E1E;
}
.quantity .minus:before{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 0;
	width: 1px;
	background:  #F6F6F6;
	content: "";
	height: 15px;
	z-index: 2;
}
.quantity .plus{
	width: 42px;
	height: 40px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	color: #1E1E1E;
}
.quantity .plus:after{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	width: 1px;
	background:  #F6F6F6;
	content: "";
	height: 15px;
	z-index: 2;
}
.product-order-btn{
	margin-left: auto;
}
.product-order-btn .fl-btn{
	background: #5CB85C;
	border-color: #5CB85C;
	width: 120px;
	font-size: 11px;
	padding: 14px 10px 11px 10px;
}
.product-order-btn .fl-btn:hover{
	border-color: #378a37;
	background: #378a37;
	color: #fff;
}
.work-sec{
	background: #1E1E1E;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;
}
.work-inr .sec-entry-hdr .sec-entry-hdr-title{
	color: #fff;
}
.work-sec-entry-hdr p{
	margin-bottom: 42px;
	line-height: 1.5;
}
.work-slider-cntlr{

}
.work-slider{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -12px;
}
.work-slider > div{
	display: none;

}
.work-slider > div:nth-child(1){
	display: block;
}
.work-slider.slick-initialized.slick-slider > div{
	display: block;
}
.work-item-cntlr{
	
	margin-bottom: 24px;
	padding: 0 12px;
}
.work-item{
	min-height: 270px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	position: relative;
}
.work-item img{
	max-height: 48px;
}
.work-item-icon{
	margin-bottom: 27px;
}
.work-item-title{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	text-transform: initial;
	margin-bottom: 20px;
}
.work-item p{
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 14px;
	color: #fff;
}
.work-sec-btn{
	margin-top: 60px;
	text-align: center;
}
.work-sec-btn .fl-btn{
	border-color: #fff;
	color: #fff;
	background: transparent;
	max-width: 269px;
	padding-top: 17px;
	padding-bottom: 13px;
}
.work-sec-btn .fl-btn:hover{
	border-color: #fff;
	color: #1E1E1E;
	background: #fff;
}

.about-frigobox{
	padding: 100px 0;
}
.lft-img-rt-desc-mdul-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.lft-img-rt-desc-mdul-img{
	height: 575px;
	width: 49%;
}
.lft-img-rt-desc-mdul-desc{
	width: 51%;
	padding-left: 118px;
}
.lft-img-rt-desc-mdul-desc-title{
	font-size: 36px;
	margin-bottom: 22px;
}
.lft-img-rt-desc-mdul-desc p{
	margin-bottom: 25px;
}
.lft-img-rt-desc-mdul-desc-btn{
	margin-top: 8px;
}
.lft-img-rt-desc-mdul-desc-btn .fl-btn{
	max-width: 200px;
	padding-top: 17px;
	padding-bottom: 13px;

	margin-left: initial;
}
.lft-img-rt-desc-mdul-desc-btn .fl-btn:hover{
	background: #8c1815;
	border-color: #8c1815;
	color: #fff;
}

/*responsive*/
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	.spotlight-slider-cntlr{
		padding: 0 90px;
	}
	.spotlight-slider-cntlr .spotlight-silder .slick-prev{
		margin-left: -50px;
	}
	.spotlight-slider-cntlr .spotlight-silder .slick-next{
		margin-right: -50px;
	}
	.pro-item-img-cntlr{
		height: 300px;
	}
	.pro-item-desc {
		padding-left: 30px;
		padding-right: 30px;
	}
	.pro-item-img-cntlr{
		margin-bottom: 20px;
	}
	.pro-item-desc-title{
		font-size: 27px;
		margin-bottom: 8px;
	}
	.pro-item-desc-sub-title{
		margin-bottom: 10px;
		font-size: 15px;
	}
	.product-price .amount bdi{
		font-size: 18px;
	}
	.product-price{
		margin-bottom: 13px;
	}
	.quantity{
		max-width: 125px;
	}
	.product-order-btn .fl-btn{
		max-width: 100px;
	}
}
@media(max-width: 1299px){
	.lft-img-rt-desc-mdul-desc{
		padding-left: 95px;
	}
}
@media(max-width: 1199px){
	.spotlight-sec{
		padding-top: 80px;
		padding-bottom: 55px;
	}
	.spotlight-slider-cntlr{
		padding: 0 65px;
	}
	.spotlight-slider-cntlr .spotlight-silder .slick-prev{
		margin-left: -27px;
	}
	.spotlight-slider-cntlr .spotlight-silder .slick-next{
		margin-right: -27px;
	}
	.pro-item-img-cntlr{
		height: 250px;
	}
	.pro-item-desc {
		padding-left: 15px;
		padding-right: 15px;
	}
	.pro-item-img-cntlr{
		margin-bottom: 16px;
	}
	.pro-item-desc-title{
		font-size: 24px;
		margin-bottom: 8px;
	}
	.pro-item-desc-sub-title{
		margin-bottom: 10px;
		font-size: 14px;
	}
	.product-price .amount bdi{
		font-size: 16px;
	}
	.product-price{
		margin-bottom: 10px;
	}
	.quantity{
		max-width: 110px;
	}
	.product-order-btn .fl-btn{
		max-width: 90px;
	}
	.lft-img-rt-desc-mdul-desc{
		padding-left: 65px;
	}
}
@media(max-width: 991px){
	.spotlight-sec{
		padding-top: 65px;
		padding-bottom: 40px;
	}
	.sec-entry-hdr-title{
		font-size: 32px;
		margin-bottom: 17px;
	}
	.sec-entry-hdr p{
		margin-bottom: 26px;
	}
	.spotlight-slider-cntlr{
		padding: 0 35px;
	}
	.spotlight-slider-cntlr .spotlight-silder .slick-prev{
		margin-left: -3px;
	}
	.spotlight-slider-cntlr .spotlight-silder .slick-next{
		margin-right: -3px;
	}
	.pro-item-cntlr{
		padding: 0 10px;
	}
	.spotlight-silder {
		margin: 0 -10px;
	}
	.pro-item-img-cntlr{
		height: 200px;
	}
	.pro-item-desc {
		padding-left: 10px;
		padding-right: 10px;
	}
	.pro-item-img-cntlr{
		margin-bottom: 13px;
	}
	.pro-item-desc-title{
		font-size: 22px;
		margin-bottom: 6px;
	}
	.pro-item-desc-sub-title{
		margin-bottom: 8px;
		font-size: 13px;
	}
	.product-price .amount bdi{
		font-size: 14px;
	}
	.product-price{
		margin-bottom: 8px;
		display: flex;
		align-items: center;
	}
	.pro-prize-shrt-title{
		font-weight: 700;
		font-size: 10px;
		line-height: 1;
		display: inline-block;
		text-transform: uppercase;
		color: #D3D3D3;
		padding-left: 10px;
	}
	.quantity{
		max-width: 80px;
	}
	.quantity input{
		max-width: 28px;
	}
	.product-order-btn .fl-btn{
		max-width: 85px;
	}
	.work-sec{
		padding: 90px 0;
	}
	.work-inr .sec-entry-hdr .sec-entry-hdr-title{
		margin-bottom: 20px;
	}
	.work-inr .sec-entry-hdr p{
		margin-bottom: 28px;
	}
	.work-slider{
		margin: 0 -10px;
	}
	.work-item-cntlr{
		padding: 0 10px;
	}
	.lft-img-rt-desc-mdul-desc{
		padding-left: 35px;
	}
	.lft-img-rt-desc-mdul-desc-title{
		font-size: 32px;
	}
}
@media(max-width: 767px){
	.spotlight-sec{
		padding-top: 45px;
		padding-bottom: 20px;
	}
	.spotlight-slider-cntlr{
		padding: 0;
	}
	.pro-item{
		background: transparent;
	}
	.pro-item-cntlr{
		margin-bottom: 16px;
	}
	.pro-item-desc{
		padding: 0;
	}
	.pro-item-desc-title{
		font-size: 19px;
	}
	.quantity{
		display: none;
	}
	.product-order-btn{
		margin-left: initial;
	}
	.product-order-btn .fl-btn{
		max-width: 120px;
	}
	.pro-item-desc strong{
		display: none;
	}
	.pro-item-desc-sub-title{
		margin-bottom: 13px;
	}
	.lft-img-rt-desc-mdul-desc p{
		font-size: 14px;
	}
	.product-price {
		margin-bottom: 18px;
	}
	.sec-entry-hdr-title{
		font-size: 27px;
		margin-bottom: 13px;
	}
	.sec-entry-hdr p{
		margin-bottom: 22px;
	}
	.work-sec{
		padding: 75px 0;
	}
	.work-inr .sec-entry-hdr .sec-entry-hdr-title{
		margin-bottom: 40px;
	}
	.work-inr .sec-entry-hdr p{
		margin-bottom: 28px;
	}
	
	.work-slider{
		display: initial;
	}
	
	.work-sec-btn{
		margin-top: 25px;
	}
	.work-sec-btn .fl-btn{
		max-width: 187px;
	}
	.about-frigobox{
		padding-top: 70px;
		padding-bottom: 90px;
	}
	.lft-img-rt-desc-mdul-img{
		width: 100%;
		margin-bottom: 30px;
		height: 300px;
	}
	.lft-img-rt-desc-mdul-desc{
		width: 100%;
		padding-left: 0;
		text-align: center;
	}
	.sec-entry-hdr p{
		font-size: 14px;
	}
	.lft-img-rt-desc-mdul-desc-title{
		font-size: 28px;
	}
	.lft-img-rt-desc-mdul-desc-btn .fl-btn{
		max-width: 200px;
		font-size: 13px;
	}

}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.spotlight-sec{
		padding-top: 35px;
		padding-bottom: 10px;
	}
	.pro-item-desc-title{
		font-size: 16px;
	}
	.pro-item-desc-sub-title {
		margin-bottom: 12px;
	}
	.sec-entry-hdr-title{
		font-size: 24px;
		margin-bottom: 10px;
	}
	.sec-entry-hdr p{
		margin-bottom: 18px;
		font-size: 12px;
	}
	.work-sec{
		padding: 60px 0;
	}
	.work-inr .sec-entry-hdr .sec-entry-hdr-title{
		margin-bottom: 30px;
	}
	.work-inr .sec-entry-hdr p{
		margin-bottom: 20px;
	}
	.work-slider-cntlr{
		max-width: 375px;
		width: 100%;
		margin: auto;
	}
	.work-item-cntlr{
		padding: 0;
	}
	.sec-entry-hdr p{
		font-size: 12px;
	}
	.work-item p{
		font-size: 12px;
	}
	.work-sec-btn .fl-btn{
		font-size: 11px;
	}
	.about-frigobox{
		padding-top: 60px;
		padding-bottom: 90px;
	}
	.lft-img-rt-desc-mdul-desc-title{
		font-size: 24px;
	}
	.lft-img-rt-desc-mdul-img{
		width: 100%;
		margin-bottom: 30px;
		height: 260px;
	}
	.lft-img-rt-desc-mdul-desc p{
		font-size: 12px;
	}

	.lft-img-rt-desc-mdul-desc-btn .fl-btn{
		max-width: 180px;
		font-size: 11px;
	}
}
@media(max-width: 479px){
	.about-frigobox{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.lft-img-rt-desc-mdul-img{
		width: 100%;
		margin-bottom: 30px;
		height: 220px;
	}
} 
@media(max-width: 359px){
	.about-frigobox{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}