.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-next,.slick-prev{
	height: 38px;
	width: 24px;
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 2;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.slick-prev{
	background: url('../images/slider-prev-icon.svg')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.slick-prev:hover{
	background: url('../images/slider-prev-icon-hvr.svg')!important;
	fill: red!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.slick-next{
	background: url('../images/slider-next-icon.svg')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.slick-next:hover{
	background: url('../images/slider-next-icon-hvr.svg')!important;
	background-size: 100% 100%!important;
	fill: red!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.slick-prev:before,
.slick-next:before{
    content: none;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/*banner*/
.banner-sec{
	min-height: 688px;
	display: flex;
	align-items: center;
	padding: 30px 0;
}
.banner-sec:after{
	content: "";
	display: block;
	min-height: inherit;
	font-size: 0;
}
.banner-sec > div{
	width: 100%;
	height:100%;
	align-items: center;
	display:flex;
}
.banner-inr{
	max-width: 930px;
	width: 100%;
	margin: auto;
	text-align: center;
}
.bnr-title{
	font-size: 72px;
	color: #fff;
	margin-bottom: 3px;
	
}
.bnr-title span{
	position: relative;
	display: inline-block;
	padding-right: 32px;
}
.bnr-title i{
	position: absolute;
	right: 0;
	top: 0;
}
.bnr-sub-title{
	text-transform: initial;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	
	margin-bottom: 20px;
}
.bnr-sub-title span{
	position: relative;
	display: inline-block;
	padding-left: 10px;
}
.bnr-sub-title i{
	position: absolute;
	left: 0;
	top: 0;
}
.bnr-search{
	position: relative;
	margin-bottom: 17px;
}
.bnr-search input{
	width: 100%;
	padding: 25px 90px 25px 35px;
	background: #fff;
	border: 2px solid transparent;
	color: #8A8A8A;
	font-size: 14px;
}
.bnr-search input:focus{
	border-color: #A61916;
}
.bnr-search input::placeholder {
  color: #8A8A8A;
  opacity: 1;
}
.bnr-search input:-ms-input-placeholder {
  opacity: 1;
 color: #8A8A8A;
}
.bnr-search input::-ms-input-placeholder {
  opacity: 1;
 color: #8A8A8A;
}
.bnr-search button{
	position: absolute;
	top: 50%;
	height: 100%;
	background: transparent;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 30px;
	cursor: pointer;
}
.bnr-search button:hover i svg{
	fill: #79110f;
}
.banner-inr strong{
	display: inline-block;
	font-size: 18px;
	color: #fff;
	margin-bottom: 15px;
	font-weight: 400;
}
.bnr-btn{
	justify-content: center;
}

/*search sec*/
.search-sec{
	background: #F7F7F7;
	display: none;
}
.search-cntlr{
	padding: 20px 32px;
}
.search-cntlr .bnr-search{
	margin-bottom: 0;
}
.search-cntlr .bnr-search input{
  color: #A61916;
}
.search-cntlr .bnr-search input:focus::placeholder {
  color: #A61916;
  opacity: 1;
}
.search-cntlr .bnr-search input:focus:-ms-input-placeholder {
  opacity: 1;
 color: #A61916;
}
.search-cntlr .bnr-search input:focus::-ms-input-placeholder {
  opacity: 1;
 color: #A61916;
}

/*responsive*/
@media(max-width: 1499px){
	.banner-sec{
		min-width: 650px;
	}
	.bnr-title{
		font-size: 65px;
		margin-bottom: 5px;
	}
}
@media(max-width: 1399px){
	.banner-sec{
		min-width: 600px;
	}
	.bnr-title{
		font-size: 60px;
		margin-bottom: 5px;
	}
}
@media(max-width: 1299px){
	.banner-sec{
		min-width: 550px;
	}
	.bnr-title{
		font-size: 55px;
		margin-bottom: 5px;
	}
}
@media(max-width: 1199px){
	.banner-sec{
		min-width: 500px;
	}
	.bnr-title{
		font-size: 50px;
		margin-bottom: 5px;
	}
}
@media(max-width: 991px){
	.banner-sec{
		min-width: 450px;
	}
	.bnr-title{
		font-size: 45px;
		margin-bottom: 5px;
	}
}
@media(max-width: 767px){
	.banner-sec{
		min-width: 400px;
	}
	.bnr-title{
		font-size: 40px;
		margin-bottom: 5px;
	}
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.banner-sec{
		min-width: 375px;
	}
	.bnr-title{
		font-size: 35px;
		margin-bottom: 10px;
		line-height: 1.2;
	}
	.bnr-sub-title{
		font-size: 16px;
	}
}
@media(max-width: 479px){
	
} 
@media(max-width: 359px){
	
}

