.pro-overview-srch{
	margin-bottom: 40px;
}
.pro-overview-srch input{
	border-color: #F6F6F6;
}
.pro-overview-cntnt-lft{
	float: left;
	width: 23.72%;
}
.pro-overview-filter{
	background: #1E1E1E;
	text-align: center;
	padding: 13px 5px;
	cursor: pointer;
}
.pro-overview-filter span{
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	padding-left: 36px;
	position: relative;
}
.pro-overview-filter span i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
}
.pro-overview-grid-cntlr{
	float: left;
	width: 76.28%;
	padding-left: 24px;
}	
.pro-overview-grid-cntlr > ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -12px;
	flex-wrap: wrap;
}
.pro-overview-grid-cntlr > ul > li{
	padding: 0 12px;
	width: 33.33%;
	margin-bottom: 24px;
}
.pro-overview-grid-cntlr > ul > li:nth-child(3n+1){
	clear: left;
}
.pw-item-img-cntlr{
	height: 236px;
}
.pw-item-desc{
	padding: 0 30px;
}
.pro-item-highlight-text{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 12;
	text-align: center;
	background: #A61916;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.pro-item-highlight-text span{
	display: inline-block;
	font-weight: 700;
	font-size: 10px;
	line-height: 1;
	margin-bottom: 0;
	padding-bottom: 6px;
	text-transform: uppercase;
	color: #fff;
}
.pro-item-highlight-text:hover{
	background: #861412;
}
.product-quantity-cntlr .quantity input{
	padding: 8px 0;
}

/*responsive*/
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	.pw-item-desc{
		padding: 0 25px;
	}
	.pro-overview-grid-cntlr{
		padding-left: 20px;
	}
	.pro-overview-grid-cntlr > ul{
		margin: 0 -10px;
	}
	.pro-overview-grid-cntlr > ul > li{
		padding: 0 10px;
		margin-bottom: 20px;
	}
}
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.pw-item-desc{
		padding: 0 10px;
	}
	.pw-item-img-cntlr{
		height: 200px;
	}
	.pw-item-desc .pro-item-desc-title{
		font-size: 22px;
	}
}
@media(max-width: 991px){
	.pw-item-desc .pro-item-desc-title{
		font-size: 18px;
	}
	.product-quantity-cntlr .product-order-btn .fl-btn {
		width: 70px;
		font-size: 10px;
		padding: 14px 4px 12px 4px;
	}

}
@media(max-width: 767px){
	.product-overview-inr{
		padding-top: 35px;
	}
	.product-overview-inr .sec-entry-hdr{
		text-align: left;
	}
	.pro-overview-srch{
		display: none;
	}
	.pro-overview-cntnt-lft{
		width: 100%;

	}
	.pro-overview-filter{
		max-width: 311px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.pro-ovrvw-accrdon-row-hdr img{
		display: none;
	}
	.pro-overview-grid-cntlr{
		width: 100%;
		padding-left: 0;
	}
	
	.pw-item-desc{
		padding: 0;
	}
	.pw-item-desc .pro-item-desc-title{
		font-size: 16px;
	}
	.pw-item-desc .pro-item-desc-sub-title{
		font-size: 12px;
	}
	.product-quantity-cntlr .product-order-btn .fl-btn{
		width: 120px;
		font-size: 11px;
		padding: 14px 10px 11px 10px;
	}
}
@media(max-width: 639px){

}
@media(max-width: 575px){
	.pro-overview-grid-cntlr > ul{
		justify-content: initial;
	}
	.pro-overview-grid-cntlr > ul > li{
		width: 50%;
	}
	.pro-overview-grid-cntlr > ul > li:nth-child(3n+1){
		clear: initial;
	}
	.pro-overview-grid-cntlr > ul > li:nth-child(2n+1){
		clear: left;
	}
	.pro-overview-grid-cntlr > ul{
		margin: 0 -8px;
	}
	.pro-overview-grid-cntlr > ul > li{
		padding: 0 8px;
	}
}
@media(max-width: 479px){

}